@import "./reset.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #f4ede4;
}

a {
  padding-top: 16px;
  padding-bottom: 20px;
  color: rgb(28, 80, 177);
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

h2 {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
}

h3 {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

button {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 380px;
  height: 50px;
  align-items: center;
}

.header {
  padding: 18px;
  color: white;
  background-color: #541554;
  padding-bottom: 20px;
}
.header-nav {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}
.header-nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav_imgLogo {
  display: flex;
  width: 100px;
}
.header-nav_imgMenu {
  display: flex;
  width: 40px;
}
.header-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-box-title {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  align-items: center;
}
.header-box-title_h1 {
  font-size: 43px;
  padding-bottom: 16px;
}
.header-box-title .spanH1 {
  font-size: 43px;
  color: #f4b028;
}
.header-box-title_p {
  font-size: 18px;
  line-height: 23px;
}
.header-box-register {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 0px 18px 0px;
  justify-content: center;
}
.header-box-register .email {
  color: #541554;
  border-width: 0px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  margin: 10px;
}
.header-box-register .google {
  display: flex;
  color: white;
  border-width: 0px;
  padding-right: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  justify-content: space-around;
  margin: 10px;
  background-color: rgb(28, 80, 177);
}
.header-box-register .google .logoGoogle {
  display: flex;
  width: 40px;
  border-radius: 3px;
}
.header-box-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-box-video .gif {
  width: 400px;
  max-width: 700px;
}

.trust {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  background-color: #ffffff;
}
.trust-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f4ede4;
}
.trust-companies_text {
  display: flex;
  text-transform: uppercase;
  padding: 18px;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
}
.trust-companies_logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 26px;
  align-items: center;
  justify-content: space-around;
  max-width: 1010px;
}
.trust-companies_logos .containerLogo {
  padding: 16px;
}
.trust-features:nth-child(even) {
  display: flex;
  padding-right: 16px;
  flex-direction: row-reverse;
}
.trust-features {
  display: flex;
  padding-bottom: 36px;
  width: 100%;
  flex-wrap: wrap;
}
.trust-features_container {
  display: flex;
  border-radius: 0px 500px 500px 0px;
  width: auto;
  background-color: #36c5f1;
}
.trust-features_container .imageFeatures {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  align-content: flex-end;
}
.trust-features_details {
  font-size: 18px;
  padding-left: 16px;
  width: 400px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}
.testimonials-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.testimonials-contact-containerColourFirst {
  display: flex;
  margin: 6px;
  width: 380px;
  height: 40px;
  border-radius: 4px 4px 4px 4px;
  background-color: #541554;
}
.testimonials-contact-containerColourFirst a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  width: 380px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-contact-containerWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  width: 380px;
  height: 40px;
  border-style: solid;
  border-color: #541554;
  border-width: thin;
  border-radius: 4px 4px 4px 4px;
}
.testimonials-contact-containerWhite a {
  color: #541554;
  font-size: 12px;
  text-transform: uppercase;
  width: 380px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-stadistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 66px;
  justify-content: center;
  width: 100%;
}
.testimonials-stadistics-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 200px;
  text-align: center;
  margin: 30px;
}
.testimonials-stadistics_porcentaje {
  display: flex;
  align-items: center;
  color: #541554;
  font-size: 50px;
  font-weight: bold;
}
.testimonials-stadistics_caption {
  width: 100%;
}

.testimonial-movie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 60px;
  justify-content: left;
  width: 100%;
  background-color: #ffffff;
}
.testimonial-movie_container {
  display: flex;
  max-width: 720px;
}
.testimonial-movie_container .video {
  width: 100%;
  padding-bottom: 26px;
}
.testimonial-movie__detail {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px 28px 20px 28px;
  margin: 0 auto;
}
.testimonial-movie__detail .cite {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 30px;
}
.testimonial-movie__detail p.pMovie {
  font-size: 18px;
  font-weight: bold;
}
.testimonial-movie__detail p.pMovieText {
  padding-bottom: 20px;
  font-size: 18px;
}
.testimonial-movie__detail .caption {
  padding-top: 16px;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  background-color: #f4ede4;
}
.features-container_promocion {
  width: 300px;
  height: 360px;
  background-color: #ffffff;
  padding-top: 26px;
  padding-bottom: 16px;
  box-shadow: 5px 5px 20px;
}
.features-container_promocion .img_promocion1 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.features-container_promocion .details_promocion1 {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 10px;
}
.features .pointer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.features .pointer .pointer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.features .pointer .imgPointer {
  width: 20px;
  margin: 10px;
}

.sellProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding-bottom: 70px;
  color: #f4ede4;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  background-color: #541554;
}
.sellProduct-links_containerColourFirst {
  display: flex;
  margin: 6px;
  width: 330px;
  height: 40px;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  border-radius: 4px 4px 4px 4px;
  background-color: #541554;
}
.sellProduct-links_containerColourFirst a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  width: 330px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sellProduct-links_containerWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  width: 330px;
  height: 40px;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  border-radius: 4px 4px 4px 4px;
  background-color: #f4ede4;
}
.sellProduct-links_containerWhite a {
  color: #541554;
  font-size: 12px;
  text-transform: uppercase;
  width: 330px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 200px;
  background-color: #f4ede4;
}/*# sourceMappingURL=style.css.map */