* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

h2 {
  font-size: 26px;
  padding: 10px;
}

p {
  font-weight: bold;
  padding: 10px;
}

.header {
  padding: 18px;
  color: white;
  background-color: #541554;
  padding-bottom: 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.header-register {
  display: flex;
  flex-direction: column;
  padding: 18px 0px 18px 0px;
}
.header-image {
  width: 250px;
  align-content: center;
}

.trust {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background-color: #ffffff;
}
.trust-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #f4ede4;
}
.trust-companies_text {
  display: flex;
  text-transform: uppercase;
  padding: 18px;
  justify-content: center;
}
.trust-companies_logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 26px;
  align-items: center;
  justify-content: space-around;
  max-width: 1010px;
}
.trust-companies_logos .containerLogo {
  padding: 16px;
}
.trust-features:nth-child(even) {
  display: flex;
  padding-right: 16px;
  justify-content: end;
  flex-direction: row-reverse;
}
.trust-features {
  display: flex;
  padding-bottom: 36px;
  width: 100%;
  flex-wrap: wrap;
}
.trust-features_container {
  border-radius: 0px 500px 500px 0px;
  width: auto;
  background-color: #36c5f1;
}
.trust-features_container .imageFeatures {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  align-content: flex-end;
}
.trust-features_details {
  font-size: 18px;
  padding-left: 16px;
  width: 400px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.trust-features a {
  padding: 10px;
  color: rgb(28, 80, 177);
  font-weight: bold;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 56px;
  justify-content: center;
}
.testimonials h2 {
  text-align: center;
}
.testimonials p {
  text-align: center;
  padding: 16px;
}
.testimonials-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.testimonials-contact-containerColourFirst {
  display: flex;
  margin: 6px;
  width: 340px;
  height: 40px;
  border-radius: 4px 4px 4px 4px;
  background-color: #541554;
}
.testimonials-contact-containerColourFirst a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-contact-containerWhite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  width: 340px;
  height: 40px;
  border-style: solid;
  border-color: #541554;
  border-width: thin;
  border-radius: 4px 4px 4px 4px;
}
.testimonials-contact-containerWhite a {
  color: #541554;
  font-size: 12px;
  text-transform: uppercase;
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-stadistics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 66px;
}
.testimonials-stadistics-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 80%;
  text-align: center;
}
.testimonials-stadistics_porcentaje {
  display: flex;
  align-items: center;
  color: #541554;
  font-size: 50px;
  font-weight: bold;
}
.testimonials-stadistics_caption {
  width: 100%;
}

.features {
  height: 200px;
  background-color: rgb(255, 0, 221);
}

.cta {
  height: 200px;
  background-color: rgb(68, 255, 0);
}

.footer {
  height: 200px;
  background-color: rgb(55, 0, 255);
}/*# sourceMappingURL=style.css.map */